@media screen and (max-width: 768px) {
    body {
        width: 100%;
        overflow-x: hidden;

        margin: 0px;
    }

    footer {
        position: relative;
        width: 90%;
    }

    .div-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        position: absolute;
        bottom: 0;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 200px;
        width: 90%;
    }

    .goe-info-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .endereco img {
        width: 8%;
        height: auto;
    } 
    
    .div-footer p {
        font-size: 14px;
    }
}